* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border: 2px solid rgb(0, 0, 0);
}

.yhteystiedot {
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

a {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

